@keyframes listHover{
    0%{
        background-color: #ffffff;
    }
    100%{
        background-color: #cccccc;
    }
}

@keyframes containerFadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}