// site color schemas
:root{
    --c-dark:#212121;
    --c-light:#767676;
    --c-medium:#515151;
    --c-shade:#cccccc;
    --c-primary:#0076BF;

    // all the break points for desktop first approach
    --s-large:1200px;
    --s-medium:900px;
    --s-small:600px;

    //font sizes
    --f-large:24px;
    --f-normal:16px;
    --f-small:12px;
}


