@use './../../styles/abstract/mixins' as *;
@use './../../styles/abstract/functions' as *;
@use './../../styles/abstract/animations' as *;

.sidebar{
    position: absolute;
    height: calc(100vh - 20px);
    top:toRem(0);
    left: toRem(0);
    z-index: 10000;
    padding: toRem(10);
    width: toRem(400);
    @include flex-center(column, flex-start, flex-start );    

    &_top{
        background-color: #ffffff;
        box-shadow: 0 0 toRem(10) var(--c-light);
        margin-bottom: toRem(10);
        @include flex-center();  
        padding: toRem(10);
        width: 100%;

        img{
            height: toRem(30);
            cursor: pointer;
        }
    }

    &_search{
        flex: 1;
        margin: 0 toRem(10);
        @include flex-center();

        input{
            padding: toRem(10) toRem(25);
            border: 1px solid var(--c-shade);
            width: 100%;
        }

        img{
            margin-left: toRem(-30);
        }
    }

    &_cities{
       background-color: #ffffff; 
       box-shadow: 0 0 toRem(10) var(--c-light);
       flex: 1;
       padding: toRem(10);
       width: 100%;
       @include flex-center(column, space-between);
       max-height: 100vh;
       overflow-y: auto;

       &_list{
        flex:1;
        width: 100%;  
        overflow-y: auto;

        ul{

            li{
                margin-bottom: toRem(10);
                padding:toRem(15) toRem(5);
                border-left:3px solid var(--c-primary);
                cursor: pointer;
                border-bottom: 1px solid #cccccc;

                &:hover{
                    animation: listHover .4s ease-in forwards;
                }

            }
        }

        p{
            padding: toRem(10);
            background-color: var(--c-primary);
            color: #ffffff;
        }

       }

        &_hide{
            display: none;
        }
    }
    
    &_cta{
        border: 1px solid var(--c-shade);
        @include flex-center();
        height: toRem(36);
        &:hover{
            animation: listHover .4s ease forwards;
        }
    }

    &_button{
        background-color: var(--c-primary);
        color: #ffffff;
        width: 100%;
        padding: toRem(16);
        font-size: toRem(16);
        cursor: pointer;
        margin-bottom: toRem(20);

        @include flex-center();

        img{
            height: toRem(20);
            margin-right: toRem(10)
        }
    }
}

.city{
    @include flex-center(); 
    justify-content: flex-start;
    

    &__check{
        height: toRem(30);
        width: toRem(30);
        border-radius: 50%;;
        border: 1px solid var(--c-primary);
        display: inline-block;
        margin:0 toRem(10);

        &_active{
            border: none;
            background-color: var(--c-primary);;
        }
    }

    &__name{
        font-weight: 600;
    }
}

.countryCode{
    padding-left: toRem(50);
    color: var(--c-light);
    font-size: toRem(14);
}

.active_city{
    
}