@use './../../styles/abstract/mixins' as *;
@use './../../styles/abstract/functions' as *;
@use './../../styles/abstract/animations' as *;

.citydetails{
    position: absolute;
    bottom: 20px;
    left: 400px;
    z-index:10000;
    width: toRem(300);

    @include flex-center(column, flex-start);
    align-items: flex-start;

    &__card{
        @include flex-center();
        justify-content: flex-start;
        background-color: #ffffff;
        box-shadow: 0 0 toRem(10) var(--c-light);
        margin-bottom: toRem(20);
        cursor: pointer;
        width: toRem(300);


        img{
            height: toRem(40);
        }

        &_icon{
            border-right: 1px solid var(--c-shade);
            padding:toRem(20);
            background-color: var(--c-primary);
        }
    }

    &__text{
        font-size: toRem(20);
        padding: 0 toRem(10);

        span{
            &:first-of-type{
                font-size: toRem(14);
                text-transform: uppercase;
            }
            display: block;

            a{
                color: var(--c-primary);
            }
        }
    }

    &_hidden{
        display: none;
    }
}